In [14]:
import numpy as np 
from utils.features_engineering import market_features_engineering
from utils.fetch_market_data import fetch_stock
from joblib import load

In [15]:
# Choose ticker
ticker = "TSLA"

In [16]:
# Get at least 100 days of market data to compute features (for MA_100)
histo = fetch_stock(ticker)
histo

,close,high,low,open,volume,divCash
date,,,,,,
2022-10-24 00:00:00+00:00,211.250,213.5000,198.5863,205.82,100446765,0.0
2022-10-25 00:00:00+00:00,222.415,224.3498,210.0000,210.10,96507870,0.0
2022-10-26 00:00:00+00:00,224.640,230.6000,218.2000,219.40,85327078,0.0
2022-10-27 00:00:00+00:00,225.090,233.8100,222.8500,229.77,61638824,0.0
2022-10-28 00:00:00+00:00,228.520,228.8600,216.3500,225.40,69152386,0.0
...,...,...,...,...,...,...
2023-05-05 00:00:00+00:00,170.060,170.7899,163.5100,163.97,107607259,0.0
2023-05-08 00:00:00+00:00,171.790,173.8000,169.1900,173.72,112249449,0.0
2023-05-09 00:00:00+00:00,169.150,169.8200,166.5600,168.95,88965043,0.0
2023-05-10 00:00:00+00:00,168.540,174.4300,166.6800,172.55,119840693,0.0
2023-05-11 00:00:00+00:00,172.080,173.5700,166.7900,168.70,103889930,0.0

In [17]:
# Computing features
X = market_features_engineering(histo)
X

,volume_chg,open_return,high_return,low_return,intraday_amplitude,close_return,volume_chg_5day,volume_chg_1month,MA5_21_cross,close_to_MA5,...,return_2d,return_3d,return_4d,return_5d,return_2w,return_1m,return_2m,return_3m,volatility_1m,volatility_2m
date,,,,,,,,,,,,,,,,,,,,,
2022-10-24 00:00:00+00:00,NaN,NaN,NaN,NaN,0.730009,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-10-25 00:00:00+00:00,-0.039214,0.020582,0.049570,0.055884,0.726743,0.051503,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-10-26 00:00:00+00:00,-0.115854,0.043313,0.027478,0.038305,0.721165,0.009954,NaN,NaN,NaN,NaN,...,0.061457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-10-27 00:00:00+00:00,-0.277617,0.046182,0.013824,0.021087,0.717440,0.002001,NaN,NaN,NaN,NaN,...,0.011955,0.063458,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-10-28 00:00:00+00:00,0.121897,-0.019202,-0.021398,-0.029601,0.721649,0.015123,NaN,NaN,NaN,0.027597,...,0.017125,0.027079,0.078581,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-05-05 00:00:00+00:00,0.131416,0.007714,0.046991,0.023890,0.715164,0.053505,-0.121687,-0.196256,-0.051189,0.044582,...,0.057172,0.059042,0.049605,0.034396,0.029721,-0.087011,-0.098747,-0.110767,0.032491,0.033364
2023-05-08 00:00:00+00:00,0.043140,0.057761,0.017471,0.034148,0.706679,0.010121,0.029669,-0.093724,-0.036029,0.042453,...,0.063627,0.067294,0.069163,0.059726,0.055287,-0.074407,-0.057734,-0.125495,0.032639,0.033108
2023-05-09 00:00:00+00:00,-0.207434,-0.027842,-0.023166,-0.015667,0.702886,-0.015487,-0.306368,-0.374167,-0.021501,0.015538,...,-0.005365,0.048140,0.051807,0.053676,0.051433,-0.086918,-0.022043,-0.151453,0.032742,0.032245
2023-05-10 00:00:00+00:00,0.347054,0.021084,0.026784,0.000720,0.716129,-0.003613,0.000941,0.035154,-0.007114,0.002331,...,-0.019100,-0.008978,0.044527,0.048194,0.091845,-0.102812,-0.028659,-0.177574,0.032527,0.032243
2023-05-11 00:00:00+00:00,-0.133100,-0.022565,-0.004943,0.000660,0.713268,0.020786,0.092331,-0.308582,0.008133,0.010310,...,0.017174,0.001687,0.011808,0.065314,0.071599,-0.047993,-0.013851,-0.186304,0.032270,0.032399

In [18]:
# Choose time horizon (1d, 1w, 2w, 1m)
time_horizon = "1m"

In [19]:
# Model loading
#model = load(f'C:/Users/Julien/Documents/EI/Datascientest/MLOps/Projet/MAR23_MLOps_Trading_Bot/trained_models/lgbm_market_{time_horizon}.joblib') 
model = load('/trained_models/lgbm_market_{time_horizon}.joblib')

In [20]:
model.predict(np.array(X.iloc[-1]).reshape(1, -1))

array([0.01670609])